<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% if request.session.nameuser %}
    <span>{{request.session.nameuser}}</span>
</head>
<body>
    <h1>Welcome Admin</h1>
    <a href="/newuser/">Register Clientes</a>
    <a href="/cliente/">View Clientes</a>
    <table>
        <tr>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Codigo Credito</th>
            <th>Monto</th>
        </tr>
        {% for i in lista%}
        <tr>
            <td>{{i.documento.documento}}</td>
            <td>{{i.documento.nombre}}</td>
            <td>{{i.codigo_credito}}</td>
            <td>{{i.montoprestado}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
{%endif%}
</html>